@import-normalize;
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap);

* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --ffamily: "Nunito Sans", sans-serif;
  --fsz-sm: 14px;
  --fsz-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;

  /* Other */
  --b-radius: 0.5rem;
}

body[data-theme="light"] {
  --text-color: #111517;
  --bg-color: #fafafa;
  --color-ui-base: #ffffff;
  --shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
body[data-theme="dark"] {
  --text-color: #ffffff;
  --bg-color: #202c37;
  --color-ui-base: #2b3945;
  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body {
  margin: 0;
  font-family: var(--ffamily);
  font-weight: var(--fw-light);
  color: var(--text-color);
  background-color: var(--bg-color);
}
